#shell {
  z-index: 1;
  position: absolute;
  display: flex;
  width: 515px;
  height: 790px;
  border-radius: 6px;
  border-left: 1px solid rgb(61, 61, 61);
  /* background: red; */
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(200, 0, 0), rgba(255, 0, 0));
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.3), 10px 25px 30px black, -10px 5px 30px black;
}

.side-door {
  z-index: 3;
  position: absolute;
  /* display: flex; */
  width: 110px;
  height: 790px;
  border-radius: 0 5px 5px 0;
  border-left: 5px solid rgb(100, 100, 100);
  border-left-style: double;
  background: rgba(0, 0, 0, 1);
  background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.8) 0%, rgba(90, 90, 90, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%);
  right: 0;
}

.glass-display {
  z-index: 4;
  display: flex;
  position: absolute;
  width: 350px;
  height: 535px;
  border-radius: 15px;
  border-width: 2px;
  border-color: rgba(20, 20, 20, 0.6);
  border-style: double;
  background: rgb(200, 200, 230);
  background-image: linear-gradient(140deg, rgba(170, 170, 170, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(190, 190, 215, 0.8) 75%);
  right: 140px;
  top: 35px;
}

.screen {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 80px;
  height: 60px;
  border-radius: 2px;
  border-top: 3px solid rgb(40, 40, 40);
  border-right: 3px solid rgb(100, 100, 100);
  border-bottom: 3px solid rgb(100, 100, 100);
  border-left: 3px solid rgb(40, 40, 40);
  background: rgb(0, 0, 160);
  cursor: pointer;
  top: 35px;
  right: 15px;
}

.bg-money-bill1 {
  z-index: 4;
  position: absolute;
  width: 54px;
  height: 55px;
  border-radius: 42% 42% 0 0;
  border: 1px solid rgba(141, 139, 139, 0.8);
  background: rgb(20, 20, 20);
  /* background-image: linear-gradient(125deg, rgba(39, 39, 39, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(190, 190, 215, 0.4) 75%); */
  top: 165px;
  right: 28px;
}

.bg-money-bill2 {
  z-index: 4;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 42% 42% 0 0;
  border: 1px solid rgba(90, 90, 90, 0.8);
  background: black;
  background-image: linear-gradient(125deg, rgba(39, 39, 39, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(190, 190, 215, 0.4) 75%);
  top: 2px;
  left: 1px;
}

.money-stamp1 {
  z-index: 6;
  position: absolute;
  border-top: 10px solid red;
  height: 0;
  width: 34px;
  top: 12px;
  left: 8px;
}

.money-stamp2 {
  z-index: 6;
  position: absolute;
  border-top: 10px solid red;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 4px;
  top: 21px;
  left: 8px;
}


.money-bill {
  z-index: 6;
  position: absolute;
  width: 49px;
  height: 20px;
  border-radius: 1px;
  border-top: 1px solid rgba(133, 133, 133, 0.8);
  border-right: 1px solid rgb(40, 40, 40);
  border-bottom: 1px solid rgb(60, 60, 60);
  border-left: 1px solid rgba(160, 160, 160, 0.8);
  background: black;
  background-image: linear-gradient(140deg, rgba(130, 130, 175, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(130, 130, 175, 0.8) 75%);
  top: 29px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);

}

.money-bill-entrance {
  z-index: 7;
  position: absolute;
  background: black;
  height: 3px;
  width: 43px;
  cursor: pointer;
  top: 9px;
  left: 3px;
}

.credit-card {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 60px;
  height: 100px;
  border-radius: 5px;
  border: 2px ridge rgb(210, 210, 210);
  background: gray;
  cursor: pointer;
  top: 270px;
  right: 24px;
}

.card-entrance1 {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 60px;
  height: 34px;
  border-top-left-radius: 20%30px;
  border-bottom-left-radius: 20%30px;
  border-top-right-radius: 20%30px;
  border-bottom-right-radius: 20%30px;
  border: 2px solid rgba(141, 139, 139, 0.8);
  background: rgb(20, 20, 20);
  top: 380px;
  right: 24px;
}

.card-entrance2 {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 56px;
  height: 30px;
  border-top-left-radius: 20%30px;
  border-bottom-left-radius: 20%30px;
  border-top-right-radius: 20%30px;
  border-bottom-right-radius: 20%30px;
  background: gray;
  background-image: linear-gradient(140deg, rgba(130, 130, 175, 0.6) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(100, 100, 145, 0.8) 75%);
  top: 2px;
  left: 2px;
}

.card-finger {
  z-index: 5;
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border-right: 1px solid rgb(90, 90, 100);
  border-bottom: 1px solid rgb(90, 90, 100); */
  background: black;
  background-image: linear-gradient(150deg, rgba(130, 130, 155, 0.9) 0%, rgba(225, 225, 255, 0.7) 50%, rgba(190, 190, 210, 0.7) 87%);
  cursor: pointer;
  top: 3px;
  left: 15px;
}

.card-entrance3 {
  z-index: 6;
  position: absolute;
  background: black;
  height: 2px;
  width: 43px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  top: 15px;
  left: 6px;
}

.card-entrance3:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.coin-entrance1 {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 70px;
  height: 60px;
  border-top-left-radius: 50%30px !important;
  border-top-right-radius: 14%11px !important;
  border-bottom-right-radius: 30%20px !important;
  border-radius: 0 0 0 10px;
  border: 2px solid rgba(141, 139, 139, 0.8);
  background: rgb(20, 20, 20);
  top: 440px;
  right: 20px;
}

.coin-entrance2 {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 66px;
  height: 56px;
  border-top-left-radius: 50%25px !important;
  border-top-right-radius: 9%7px !important;
  border-bottom-right-radius: 30%17px !important;
  border-radius: 0 0 0 10px;
  background: black;
  background-image: linear-gradient(140deg, rgba(130, 130, 130, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(100, 100, 100, 0.4) 75%);
  top: 2px;
  left: 2px;
}

.coin-entrance3 {
  z-index: 5;
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(140, 140, 140);
  background: radial-gradient(circle at 50%, rgba(60, 60, 90, 0.5), rgba(20, 20, 50, 0.5) 60%, rgba(120, 120, 150, 0.5) 70%, rgba(150, 150, 180, 0.5) 95%);
  background-image: linear-gradient(160deg, rgba(90, 90, 125, 0.2) 0%, rgba(215, 215, 255, 0.5) 50%, rgba(190, 190, 220, 0.1) 87%);
  top: 1px;
  left: 38px;
}

.coin-entrance4 {
  z-index: 6;
  position: absolute;
  background: black;
  height: 2px;
  width: 19px;
  border-radius: 1px;
  cursor: pointer;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  top: 12px;
  left: 3px;
}

.coin-entrance4:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.coin-entrance5 {
  z-index: 5;
  position: absolute;
  display: flex;
  width: 47px;
  height: 37px;
  border-top-right-radius: 100%30px !important;
  border-radius: 25% 0 15% 10px;
  border: 1px solid rgb(140, 140, 140);
  background: radial-gradient(circle at 50%, rgba(60, 60, 90, 0.5), rgba(20, 20, 50, 0.5) 60%, rgba(120, 120, 150, 0.5) 70%, rgba(150, 150, 180, 0.5) 95%);
  background-image: linear-gradient(160deg, rgba(90, 90, 125, 0.2) 0%, rgba(215, 215, 255, 0.5) 50%, rgba(190, 190, 220, 0.1) 87%);
  top: 16px;
  left: 1px;
}

.coin-base-pin {
  z-index: 6;
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgb(40, 40, 40);
  background: radial-gradient(circle at 50%, rgba(90, 90, 110, 0.9), rgba(100, 100, 110, 0.9) 60%, rgba(120, 120, 140, 0.6) 70%, rgba(150, 150, 180, 0.6) 95%);
  /* background-image: linear-gradient(160deg, rgba(90, 90, 125, 0.2) 0%, rgba(215, 215, 255, 0.5) 50%, rgba(190, 190, 220, 0.1) 87%); */
  top: 16px;
}

.bg-coin {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 52px;
  height: 44px;
  border: 2px solid red;
  border-radius: 25% 25% 0 0;
  border-bottom-left-radius: 100%30px;
  border-bottom-right-radius: 100%30px;
  /* border: 1px solid rgba(141, 139, 139, 0.8); */
  background: black;
  background-image: linear-gradient(180deg, rgba(39, 39, 39, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(190, 190, 215, 0.1) 75%);
  cursor: pointer;
  top: 700px;
  right: 15px;
}

.coin {
  z-index: 4;
  position: absolute;
  display: flex;
  width: 44px;
  height: 37px;
  border-right: 1px solid rgb(110, 110, 110);
  border-bottom: 2px solid rgb(150, 150, 150);
  border-left: 1px solid rgb(83, 83, 83);
  border-radius: 20% 20% 0 0;
  border-bottom-left-radius: 100%30px;
  border-bottom-right-radius: 100%30px;
  /* border: 1px solid rgba(141, 139, 139, 0.8); */
  background: black;
  background-image: linear-gradient(160deg,
      rgba(39, 39, 39, 0.1) 10%,
      rgba(210, 210, 210, 0.3) 30%,
      rgba(190, 190, 215, 0.1) 70%,
      rgba(230, 230, 230, 0.5) 90%);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  top: 3px;
  left: 3px;
}

.coin:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.bg-push {
  z-index: 3;
  position: absolute;
  width: 255px;
  height: 95px;
  border-radius: 10px;
  border: 2px solid white;
  background: black;
  top: 605px;
  left: 70px;
}

.push {
  z-index: 4;
  position: relative;
  width: 210px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid rgb(61, 61, 61);
  background: white;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 1) 50%, rgba(80, 80, 80, 0.8) 50%);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  top: 20px;
  left: 20px;
}

.push-bright {
  z-index: 6;
  position: absolute;
  width: 210px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid rgba(50, 50, 50, 1);
  background-image: linear-gradient(140deg, rgba(30, 30, 30, 0.3) 0%, rgba(190, 190, 190, 0.3) 50%, rgba(255, 255, 255, 0.4) 50%, rgba(190, 190, 190, 0.3) 50%, rgba(30, 30, 30, 0.3) 90%);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  top: 20px;
  left: 20px;
}

.push-bright:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.footL1 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 9px;
  height: 24px;
  background: black;
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0.6) 5%, rgba(200, 200, 200, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 818px;
  left: 31px;
}

.footL2 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  border-radius: 0 0 1px 1px;
  background: black;
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.8) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 847px;
  left: 22px;
  box-shadow: 2px 2px 5px black;
}

.footL3 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  border-radius: 50% 50% 0 0;
  background: black;
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.8) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 842px;
  left: 22px;
}

.footR1 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 9px;
  height: 24px;
  /* border: 1px solid rgba(100, 100, 100, 0.3); */
  background: black;
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0.5) 5%, rgba(200, 200, 200, 0.7) 50%, rgba(70, 70, 70, 0.2) 86%);
  top: 818px;
  left: 491px;
}

.footR2 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  border-radius: 0 0 1px 1px;
  background: black;
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.8) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 847px;
  left: 482px;
  box-shadow: 1px 1px 5px black;
}

.footR3 {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  border-radius: 50% 50% 0 0;
  background: black;
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.8) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 842px;
  left: 482px;
}

.footL1-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 9px;
  height: 22px;
  /* filter: blur(3px); */
  background: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, rgba(120, 120, 120, 0.6) 5%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.7) 86%);
  top: 862px;
  left: 31px;
  box-shadow: -3px 0 10px black;

}

.footL2-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  /* filter: blur(3px); */
  border-radius: 1px 1px 0 0;
  background: rgba(130, 130, 130, 1);
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.2) 5%, rgba(230, 230, 230, 1) 30%, rgba(230, 230, 230, 0.2) 50%, rgba(70, 70, 70, 0.2) 86%);
  top: 852px;
  left: 22px;
}

.footL3-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  /* filter: blur(3px); */
  border-radius: 0 0 50% 50%;
  background: rgba(130, 130, 130, 1);
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.2) 5%, rgba(230, 230, 230, 1) 30%, rgba(230, 230, 230, 0.2) 50%, rgba(70, 70, 70, 0.2) 86%);
  top: 857px;
  left: 22px;
}

.footR1-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 9px;
  height: 22px;
  /* filter: blur(3px); */
  background: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0.6) 5%, rgba(230, 230, 230, 0.8) 50%, rgba(70, 70, 70, 0.3) 86%);
  top: 862px;
  left: 491px;
  box-shadow: 3px 0 10px black;
}

.footR2-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  /* filter: blur(3px); */
  border-radius: 1px 1px 0 0;
  background: rgba(100, 100, 100, 1);
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.2) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.2) 50%, rgba(70, 70, 70, 0.2) 86%);
  top: 852px;
  left: 482px;
  box-shadow: 3px 3px 10px black;

}

.footR3-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 27px;
  height: 5px;
  /* filter: blur(3px); */
  border-radius: 0 0 50% 50%;
  background: rgba(100, 100, 100, 1);
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.2) 5%, rgba(200, 200, 200, 1) 30%, rgba(230, 230, 230, 0.2) 50%, rgba(70, 70, 70, 0.2) 86%);
  top: 857px;
  left: 482px;

}

.shell-reflection {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 515px;
  height: 42px;
  filter: blur(1px);
  border-radius: 6px 6px 0 0;
  border-left: 1px solid rgb(61, 61, 61);
  background: rgba(180, 180, 180, 0.8);
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(200, 0, 0, 0.4), rgba(255, 0, 0, 0.4));
  top: 884px;
}

.side-door-reflection {
  z-index: 4;
  position: absolute;
  /* display: flex; */
  width: 110px;
  height: 42px;
  /* filter: blur(1px); */
  border-radius: 0 5px 0 0;
  border-left: 5px solid rgb(200, 200, 200);
  border-left-style: double;
  background: rgba(120, 120, 120, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(50, 50, 50, 0.3) 50%, rgba(0, 0, 0, 0.3) 75%);
  right: 0;
}

.middle-shadow {
  z-index: 1;
  position: absolute;
  width: 451px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6666);
  /* background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.8) 0%, rgba(90, 90, 90, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%); */
  top: 821px;
  left: 40px;
  box-shadow: 5px 0 20px rgb(0, 0, 0);

}

.text-center {
  /* align-items: center; */
  text-align: center;
}

.text-push {
  position: relative;
  bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}